Skip to content
Search or jump to…
Pull requests
Issues
Marketplace
Explore
 
@johnfrog76 
johnfrog76
/
recipes-react-typescript
Public
Code
Issues
2
Pull requests
Actions
Projects
Wiki
Security
Insights
Settings
recipes-react-typescript/.gitignore
@johnfrog76
johnfrog76 John/full crud mongodb (#2)
…
Latest commit e85657c on Dec 17, 2021
 History
 1 contributor
24 lines (19 sloc)  315 Bytes

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
node-modules
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
